@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Proxima Nova', sans-serif;
  }
  @font-face {
    font-family: 'Proxima Nova';
    font-style: light;
    font-weight: 300;
    src: url('../assets/fonts/proximanova-light.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Proxima Nova';
    font-style: regular;
    font-weight: 400;
    src: url('../assets/fonts/proximanova-regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Proxima Nova';
    font-style: semibold;
    font-weight: 600;
    src: url('../assets/fonts/proximanova-semibold.woff2') format('woff2');
  }
}

@layer components {
  .product-detail {
    grid-template-areas: "side image image image detail detail detail price price price";
    min-width: 800px;

    :nth-child(1) {
      grid-area: side;
    }
    :nth-child(2) {
      grid-area: image;
    }
    :nth-child(3) {
      grid-area: detail;
    }
    :nth-child(4) {
      grid-area: price;
    }

    @apply grid grid-cols-10;
  }

  .product-button {
    @apply w-full px-2 py-4 rounded-md font-bold;
  }
}
